/** 清除内外边距 **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wap {
  padding: 20px;
}
.wap h1 {
  margin-bottom: 5px;
}
.wap .dianji {
  color: dodgerblue;
  display: block;
  margin: 20px 0px;
  cursor: pointer;
}
.wap a:link {
  text-decoration: none;
}
.wap a:hover {
  text-decoration: :none;
}
.wap .bg {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.wap .bg.active {
  display: block;
}
.wap .but {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 250px);
  display: none;
  width: 500px;
  height: 210px;
  padding: 20px;
  background-color: #fff;
}
.wap .but.active {
  display: block;
}
.wap .but .top {
  font-size: 30px;
}
.wap .but .top span {
  display: block;
  font-size: 20px;
  line-height: 20px;
  color: #888;
  float: right;
  cursor: pointer;
}
.wap .but .middle {
  margin: 20px 0px 50px 0px;
}
.wap .but .bottom {
  width: 100%;
}
.wap .but .bottom span {
  display: block;
  float: right;
  color: #fff;
  line-height: 40px;
  text-align: center;
  width: 100px;
  height: 40px;
  background-color: royalblue;
  cursor: pointer;
}
